
.hauts_de_page {
    background-color: rgb(255, 96, 96);
    color: black;
    font-family: cursive;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

h1.title_film_tintin {
    background: rgb(49, 47, 47);
    color:rgb(255, 102, 0);
    margin-top: 10px;

}


.bas_de_page {
    background-color: rgb(152, 69, 30);
    color: black;
    font-family: cursive;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;

}
/* TABLETTE - LAPTOP */

@media screen and (min-width: 700px){

.image_tintin {
    display: block;
    width: 30%;
    margin: 20px auto;
    border-radius: 10px;
}
.personnages__synopsis {
    color: rgb(255, 255, 255);
    padding: 3%;
    font-family: cursive;
}

.image_tintin2{
    display: block;
    width: 15%;
    margin: 0 auto;
    border-radius: 10px;

}
.image_tintin3 {
    display: block;
    width: 30%;
    margin: 20px auto;
    border-radius: 10px;
}

.image_tintin4 {
    display: block;
    width: 30%;
    margin: 20px auto;
    border-radius: 10px;
}

.image_tintin5 {
    display: block;
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
}

.image_tintin6 {
    display: block;
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 1.3rem;
}






.card_movie_container_tintin {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background: rgb(19, 45, 86);
    width: 80%;        
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 30px;
    margin: 10px auto;
    border: 5px solid rgb(14, 6, 6);
}

}


/* MOBILE - TABLETTE */
@media screen and (max-width: 700px){

    .card_movie_tintin {
        width: 80%;
    }
    .card_movie_container_tintin {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        background: rgb(19, 45, 86);
        color: white;
        width: 80%;        
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-radius: 30px;
        margin: 10px auto;
        border: 5px solid rgb(14, 6, 6);
    }
    
    .image_tintin {
        display: block;
        width: 90%;
        margin: 20px auto;
        border-radius: 10px;
    }

    .image_tintin2{
        display: block;
        width: 70%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .image_tintin3{
        display: block;
        width: 70%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .image_tintin4{
        display: block;
        width: 70%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .image_tintin5{
        display: block;
        width: 70%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .image_tintin6{
        display: block;
        width: 70%;
        margin: 10px auto;
        border-radius: 10px;
    }




    
    
    

}