.movie_container {
  padding: 3%;
  background: rgb(63, 44, 44);
  color:   #fdb12e;
  transition: opacity 0.5s 0.25s;
  opacity: 1;
  border-radius: 30px;
}

.movie_container.transparent {
  transition: opacity 0.25s 0s;
  opacity: 0;
}

.close-video {
  background: red;
}


/* MOBILE*/
@media screen and (max-width: 700px) {
  .movie_container{
    display: flex;
    flex-direction: column;
  }
  .rate {
    margin-bottom: 15px;
  }
  .star{
    width: 70%;
    margin: 0 auto;
  }

  .image_database{
    width: 70%;
    margin: 0 auto;
  }
  .movie_container.transparent {
    display: flex;
    flex-direction: column;
    transition: opacity 0.25s 0s;
    opacity: 0;
  }

  .carousel_movies__synopsis {
    font-size: 1.2rem;
    margin-top: 15px;
  }


}

/* TABLETTE */
@media screen and (min-width: 700px) {
  .movie_container{
    display: flex;
    flex-wrap: wrap;
  }

  .rate {
    margin-bottom: 15px;
  }


  div.movie {
    display: flex;
    flex-direction: row;
    width: 100%;

  }
  .star{
    width: 70%;
    margin: 0 auto;
  }
  .image {
    width: 100%;

  }
  .image_database{
    width: 45%;
    margin: 0 auto;
  }
  .movie_container.transparent {
    display: flex;
    flex-direction: column;
    transition: opacity 0.25s 0s;
    opacity: 0;
  }

  .carousel_movies__synopsis {
    width: 50%;
    font-size: 1.5rem;
    margin-top: 15px;

  }

}



/* LAPTOP */
@media screen and (min-width: 1200px) {
  .movie_container{
    display: flex;
    flex-wrap: wrap;
  }

  div.movie {
    display: flex;
    flex-direction: row;
    width: 100%;

  }
  .star{
    width: 70%;
    margin: 0 auto;
  }
  .image {
    width: 100%;

  }
  .image_database{
    width: 30%;
    margin: 0 auto;
  }
  .movie_container.transparent {
    display: flex;
    flex-direction: column;
    transition: opacity 0.25s 0s;
    opacity: 0;
  }

  .carousel_movies__synopsis {
    width: 70%;
    font-size: 1.5rem;
  }

}






