.image_database {
    width: 300px;
}


.banner_button {
    padding: 5%;
    border-radius: 5px;
}

.movie_container {
    border: 3px solib black;
}

.movies__synopsis {
    font-family: segoe uI;
    font-weight: 300;
    padding: 20px;
    padding-top: 20px;
    text-align: left;
}