.video-container {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 10% 0 10%;
    padding: 3% 0 3%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 100%;
    font-family: cursive;
    animation:  color 20s ease infinite;
    h2 {
        color: white;
    }
    & > div, iframe {
        border-radius: 8px;
        overflow: hidden;
        
        & >div,  iframe {
            height: 500px;
            width: 150%;
            padding: 3px;
            margin: 20px 150px 10px 150px;
            border-radius: 30px;
            // border: 2px solid red;

        }
    }
    
}

@keyframes color {
    0% {
        background: #141b22;
    }
    20% {
        background: #32476c
    }
    40% {
        background: #2f73b3
    }
    60% {
        background: #063a6b
    }
    80% {
        background: #30699e
    }
    100% {
        background: #0e3a63
    }

}