.blink-bg {
    height: 100vh;
    padding: 20px;
    animation: blinkingBackground 2s infinite;
    & > img {
      width: 500px;
    }
  }
  
  @keyframes blinkingBackground {
    0%   {background:rgb(255, 25, 0)}
    100%  {background:rgb(0, 0, 0)}
  }


.blink-bg img {
  width: 500px;
}  