* {
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;

}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;

}




.test {
  height: 10vh;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  outline: none;

}

.image_database {
  width: 320px;
  border-radius: 20px;

}

.title {
  transition: all 1.5s ease;
  width: 90%;
  opacity: 1;
  margin: 0 auto;
  color: red;
  background-color: gold;
  border: 5px solid black;
  padding: 2px;
  border-radius: 10px;
}

a.link-favourite {
  display: inline;
}

.title-transparent {
  transition: all 1.5s ease;
  opacity: 0;
}


.movie_container_search-transparent {
  transition: all 1.5s ease;
  opacity: 0;

}



.banner_button {
  margin: 0;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100vw;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  background-color: rgb(114, 45, 45);
  color: black;

}


.test {
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.movie_container_search {
  transition: all 1.5s ease;
  opacity: 1;
  margin: 10px auto;
  border: 3px solid black;
  border-radius: 20px;
  background-color:rgb(69, 30, 30);
  width: 80%;
  color: #ffbb00;
  font-size: 1.4rem;
  padding: 2%;


}

p.movies__synopsis {
  color: #ffbb00;
  font-size: 2rem;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and(min-width: 700px) {

  .movie_container_search {
    width: 500px;
  }
}

/* MOBILE - TABLETTE */
@media screen and(max-width: 700px) {


  button.close-video {
    position: relative;
    top: 10px;
    left: 100px;
    z-index: 1;
    width: 10px
   
  }
}