.container {
    display: flex;
    flex-direction: row;
    width: 100%;

}
.link-logo{
    background: black;
}

.link_nav{
    padding: 2%;
}

.nav_linka{
    margin-left: -250px;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.searchbar {
    margin-top: 30px;
    margin-left: -150px;
}

button {
    background: rgb(0, 153, 255);
    border: none;
    /* padding: 20px;
    font-size: 20px; */
    border-radius: 10px;
    margin: 1%;
  
}
  

.MuiSvgIcon-root {
    color: rgb(255, 208, 0);
    width: 30%;
}
.menu_burger {
    margin-left: 400px;
    background: rgb(11, 11, 50);
    z-index: 2;
    color: red;

}

.navigation {
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    width: 100vw;
    margin: 0;
    background: black;

}

a.link-logo{
    width: 20%;
}

img.logo {
    width: 30vw;
    position: fixed;
    top: -33px;
    left: 30px;

}

.navigation-none {
    display: none;
        
}

img.nav_logoNav {
    width: 40px;
}

@media screen and (max-width: 1600px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        height: 100vh;
        width: 420px;
        left: 0px!important;

    }

        .nav_linka{
        margin-top: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 150px!important;
    }




}



@media screen and (max-width: 500px) {
    .btn-round-menu {
        display: block
    }

    .nav_linka{
        margin-top: 250px;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        height: 80vh;
        width: 470px;
        left: 0px!important;

    }

    img.logo {
        height: 10px;
        width: 30px;
        position: fixed;
        top: -70px;
        left: 10px;
    
    }


}



.btn-round-menu {
    width: 50px;
    height: 50px;
    border: 2px solid #1b3254;
    border-radius:  5%;
    background: #1b3254;
    position: fixed;
    top: 40px;
    left: 10px;
    z-index: 2;
}

.cont-line {
    width: 30px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%)
}

.line-unique {
    width: 130%;
    height: 6px;
    border-radius:  5px;
    background: #ffd903;
    position: absolute;
    top: -50%;
    left: 48%;
    transform: translate(-50%, -50%)
}

.line-unique::before {
    content: '';
    position: absolute;
    top: -15px;
    left: -2%;
    bottom: 10px;
    background: #ffd903;
    width: 105%;
    height: 6px;
    border-radius:  5px;
}

.line-unique::after {
    content: '';
    position: absolute;
    top: 15px;
    left: -2%;
    background: #ffd903;
    width: 105%;
    height: 7px;
    border-radius:  5px;
}

.cont-line.active .line-unique::after{
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms ease, transform 300 ms 300ms ease;
}
.cont-line.active .line-unique {
    background: transparent;
}

.cont-line.active .line-unique::before{
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms ease, transform 300 ms 300ms ease;
}



















